            <section class="articles">
                <div class="post">
                    <div class="post-header">
                        <a href="" class="author">
                            <img src="http://i.giphy.com/l3q2LU1K8LzEsJgOc.gif" alt="">
                        </a>
                        <div class="post-title">
                            <h2>
                                <a href="">LOS/Pathfinding improvements</a>
                            </h2>
                            <ul class="post-meta">
                                <li>
                                    <a href="/account/profile/joselmocs"><i class="fa fa-user"></i> joselmocs</a>
                                </li>
                                <li>
                                    <i class="fa fa-calendar-o"></i> 3 dias atrás
                                </li>
                                <li>
                                    <i class="fa fa-comments"></i> 25
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p class="post-content">Hey there everyone!<br><br>You've probably already have noticed that things have kept me busy with website and merge!<br><br>I would like to give you some updates and insights on the upcoming merge.<br>Currently the schedule stays same and we will be able to hit the deadline so this is a good news right!?<br><br>Then moreover we've been already testing the merge script for any possible issues and we've already been able to address a few.<br>There are still few things I would like to point out. If your character on Stonetalon or Wildhammer has items made by person who will no longer exist, their names will no longer shows up on items they've made for you.<br><br>Also for Stonetalon scenario we've been testing AH &amp; mail interactions when we reguid the database. It seems it is working but for double safety we advice to loot all mails and cancel AH before the merge starts. If something gets lost during the merge it will be practically impossible to restore.<br><br>The scrip to reguid and cleanup Wildhammer currently takes around 30minutes to run. For Stonetalon we estimate it to be 15min. The actual transactions from Wildhammer into Stonetalon may take few hours. This is something we will begin testing today or tomorrow before actual merge.<br><br>After the merge Wildhammer will be removed from out realmlist and it will also disappear from our new status bar on frontpage.<br><br>If you would like more information join us at Discord!</p>
                </div>

                <div class="post">
                    <div class="post-header">
                        <a href="" class="author">
                            <img src="http://i.giphy.com/l3q2yVz43mrr3YkFi.gif" alt="">
                        </a>
                        <div class="post-title">
                            <h2>
                                <a href="">XP Changes - March Edition</a>
                            </h2>
                            <ul class="post-meta">
                                <li>
                                    <a href="/account/profile/joselmocs"><i class="fa fa-user"></i> joselmocs</a>
                                </li>
                                <li>
                                    <i class="fa fa-calendar-o"></i> 4 dias atrás
                                </li>
                                <li>
                                    <i class="fa fa-comments"></i> 12
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p class="post-content">Great news, everyone!<br><br>First off,<br>We have turned off the Pre-Nerf XP ,which was active till Blizzard released patch 2.3. <br>That means your journey towards TBC areas will be less painful. Vanilla quests now reward increased XP while the XP needed to level up (up to level 60) has been reduced.<br><br>Secondly, Icing on the cake,<br>We have once again turned on the 2x XP event. Same as before, it can be used between levels 5-58. Type ".xp" ingame to know more about the command.<br><br><a href="http://tbc.openwow.com/item=19019" class="item legendary" target="_blank">[Thunderfury, Blessed Blade of the Windseeker]</a><br><a href="http://tbc.openwow.com/item=33803" class="item rare" target="_blank">[Adamantite Stinger]</a><br>We are currently not giving any ETA's on how long the event lasts.<br><br>If you have any questions, please feel free to contact us on our Discord!</p>
                </div>

            </section>
