<!doctype html>
<html lang="en" data-ng-app="mordor">
    <head>
        <meta charset="utf-8" />
        <title>{{ config.server.name }}</title>
        <meta content="IE=edge" http-equiv="X-UA-Compatible" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <!--[if lt IE 9 ]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <![endif]-->
        <style type="text/css">[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak {display: none !important;}</style>
        <link rel="stylesheet" type="text/css" href="/assets/vendor/font-awesome/css/font-awesome.min.css" media="screen" />
        {% if False %}
        <link rel="stylesheet" type="text/css" href="/assets/vendor/normalize-css/normalize.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/assets/src/css/base.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/assets/src/css/grid.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/assets/src/css/helpers.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/assets/src/css/button.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/assets/src/css/forms.css" media="screen" />

        <link rel="stylesheet" type="text/css" href="/assets/src/css/header.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/assets/src/css/content.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/assets/src/css/footer.css" media="screen" />

        <link rel="stylesheet" type="text/css" href="/assets/src/css/components/sidebar-menu.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/assets/src/css/components/alert.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/assets/src/css/components/openwow.css" media="screen" />


        <link rel="stylesheet" type="text/css" href="/assets/src/css/widget.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/assets/src/css/tables.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/assets/src/css/articles.css" media="screen" />
        {% block stylesheet %}{% endblock stylesheet %}
        {% else %}
        <link rel="stylesheet" type="text/css" href="/assets/dist/app.css" media="screen" />
        {% endif %}
    </head>
    <body>
        <div class="container-fluid nav-top">
            <div class="container">
                <ul class="pull-left">
                    <li><a href="/">Início</a></li>
                    <li><a href="">Estatísticas</a></li>
                    <li><a href="/forms">Forms</a></li>
                </ul>
                <ul class="pull-right">
                    <li><a href="">Ajuda</a></li>
                    <li><a href="" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="container header">
            <div class="server-name">MORDOR WOW</div>
        </div>

        {% block content %}{% endblock content %}

        <div class="container footer">
            <div class="copyright">©2017 Mordor WoW</div>
            <div class="disclaimer">World of Warcraft™ and Blizzard Entertainment® are all trademarks or registered trademarks of Blizzard Entertainment in the United States and/or other countries. These terms and all related materials, logos, and images are copyright © Blizzard Entertainment. This site is in no way associated with Blizzard Entertainment®.</div>
        </div>
    </body>

    {% csrf_token %}
    <script type="text/javascript">var _config = {{ config|safe }};</script>
    <script type="text/javascript" src="/assets/vendor/angular/angular.min.js"></script>
    <script type="text/javascript" src="/assets/vendor/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="/assets/vendor/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/assets/vendor/moment/locale/pt-br.js"></script>
    <script type="text/javascript" src="/assets/src/js/main.js"></script>
    <script type="text/javascript" src="/assets/src/js/account/sidebar.auth.js"></script>
    <script type="text/javascript" src="/assets/src/js/account/create.js"></script>
    <script type="text/javascript" src="/assets/src/js/account/recover.js"></script>

    <script type="text/javascript" src="http://cdn.openwow.com/api/tooltip.js"></script>
</html>
