{% extends "base.html" %}

{% block stylesheet %}
<!--<link rel="stylesheet" type="text/css" href="/assets/src/css/account.css" media="screen" />-->
{% endblock %}

{% block content %}
<div class="container content">
    <h1>Teste de Formulátio <small>Aqui uma breve descrição</small></h1>
    <h2>Teste de Formulátio <small>Aqui uma breve descrição</small></h2>
    <h3>Teste de Formulátio <small>Aqui uma breve descrição</small></h3>

    <p class="lead">.lead Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
    <p>
        <del>[del] This line of text is meant to be treated as deleted text.</del>
    </p>
    <p>
        <u>[u] This line of text will render as underlined</u>
    </p>
    <p><abbr title="HyperText Markup Language" class="initialism">[abbr] HTML</abbr></p>

    <div>
        <div><a href="">default link a</a></div>
        <div class="text-primary">text-primary</div>
        <div><a href="" class="text-primary">a.text-primary <small>teste</small></a></div>
        <div class="text-success">text-success</div>
        <div><a href="" class="text-success">a.text-success</a></div>
        <div class="text-danger">text-danger</div>
        <div><a href="" class="text-danger">a.text-danger</a></div>
    </div>

    <div class="form-group">
        <label>Nome de Usuário</label>
        <input type="text" class="form-control" placeholder="input">
    </div>

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" value="disabled input" disabled>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-2 control-label">Usuário</label>
            <div class="col-10">
                <input type="text" class="form-control" placeholder="input">
            </div>
        </div>

        <div class="form-group">
            <label class="col-2 control-label">Senha</label>
            <div class="col-10">
                <select class="form-control">
                    <option>Teste</option>
                    <option>Outro Teste</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-2 control-label">Textarea</label>
            <div class="col-10">
                <textarea class="form-control" rows="3"></textarea>
                <small class="help-block">Selecione a expanção do seu jogo</small>
            </div>
        </div>

        <div class="form-group">
            <div class="col-offset-2 col-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                </div>
                <div class="checkbox disabled">
                    <label>
                        <input type="checkbox" disabled>
                        Option two is disabled
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" checked>
                        Option one is this and that's be sure to include why it's great
                    </label>
                </div>
                <div class="radio disabled">
                    <label>
                        <input type="radio" disabled>
                        Option three is disabled
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-offset-2 col-10">
                <button type="button" class="btn">default</button>
                <button type="button" class="btn btn-primary">primary</button>
                <button type="button" class="btn" disabled>Disabled button</button>
                <a href="" class="btn">
                    Link primary button
                    <i class="fa fa-sign-in"></i>
                </a>
            </div>
        </div>
    </div>


</div>
{% endblock %}
