{% extends "base.html" %}

{% block content %}
<div class="container content primary">
    <div class="row">
        <div class="col-8">
            {% include 'articles.html' %}
        </div>
        <div class="col-4">
            {% include 'account/widgets/sidebar.auth.html' %}
            {% include 'account/widgets/pvp-ranking.html' %}
        </div>
    </div>
</div>

{% endblock %}
