// WebKit-style focus
.tab-focus(@color: @primary-color) {
    // WebKit-specific. Other browsers will keep their default outline style.
    // (Initially tried to also force default via `outline: initial`,
    // but that seems to erroneously remove the outline in Firefox altogether.)
    outline: 1px auto @color;
    outline-offset: -2px;
}
