{% extends "base.html" %}

{% block content %}
<div class="container content primary">
    <div class="row">
        <div class="col-8">
            <div data-ng-controller="AccountCreateController">
                <h1>Inscreva-se para uma conta {{ config.server.name }}</h1>
                <p>Nós valorizamos e respeitamos sua privacidade. Seu nome e email não serão exibidos para outros usuários.</p>
            </div>
        </div>
        <div class="col-4">
            {% include 'account/widgets/sidebar.auth.html' %}
        </div>
    </div>
</div>
{% endblock %}
