{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/assets/src/css/account.css" media="screen" />
{% endblock %}

{% block content %}
<div data-ng-controller="AccountRecoverController" class="container content primary recover-page">
    <h1>Não Consegue Se Conectar?</h1>
    <p>Desculpe! Existem vários motivos que podem impedir que você se conecte. Veja se os recursos oferecidos abaixo o ajudam.</p>

    <div class="flex">
        <div class="recover-option">
            <a href="">
                <i class="fa fa-key" aria-hidden="true"></i>
                <span>Eu não sei minha senha</span>
            </a>
        </div>
        <div class="recover-option">
            <a href="">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>Eu não sei meu nome de usuário</span>
            </a>
        </div>
        <div class="recover-option">
            <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>Eu não recebi o email de ativação</span>
            </a>
        </div>
        <div class="recover-option">
            <a href="">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <span>Minha conta está bloqueada</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
