{% extends "base.html" %}

{% block content %}
<div class="main">
    <h1>Desbloqueio de Conta</h1>

    <div class="alert {% if success %}success{% else %}danger{% endif %}">
        <i class="fa {% if success %}fa-check-circle{% else %}fa-exclamation-circle{% endif %}"></i>
        <span class="title">{% if success %}Opa, boas noticias ;){% else %}Os seguintes erros ocorreram:{% endif %}</span>
        <ul>
            {% for message in messages %}<li>{{ message }}</li>{% endfor %}
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<div class="sidebar">
    {% include 'account/widgets/sidebar.auth.html' %}
</div>
{% endblock %}
