    <div class="widget pvp-ranking">
        <h3 class="title">TOP 5 PVP KILLS</h3>
        <div class="sidebar-content">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div class="pull-left"><img src="/assets/images/icons/race/1-0.gif" /></div>
                            <div class="pull-left"><img src="/assets/images/icons/class/1.gif" /></div>
                            <div class="pull-left"><a href="">Crimzon</a></div>
                        </td>
                        <td class="rating">
                            1469
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="pull-left"><img src="/assets/images/icons/race/2-1.gif" /></div>
                            <div class="pull-left"><img src="/assets/images/icons/class/2.gif" /></div>
                            <div class="pull-left"><a href="">Rooneey</a></div>
                        </td>
                        <td>
                            <span class="rating">1369</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="widget pvp-ranking">
        <h3 class="title">TOP ARENA 2x2</h3>
        <div class="sidebar-content">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div class="pull-left"><img src="/assets/images/icons/faction/2.gif" /></div>
                            <div class="pull-left"><a href="">DwA StakanA MolokA</a></div>
                        </td>
                        <td class="rating">
                            2200
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="pull-left"><img src="/assets/images/icons/faction/1.gif" /></div>
                            <div class="pull-left"><a href="">Rooneey</a></div>
                        </td>
                        <td>
                            <span class="rating">2100</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="widget pvp-ranking">
        <h3 class="title">TOP ARENA 3x3</h3>
        <div class="sidebar-content">
            <div class="text-center">
                <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
            </div>
        </div>
    </div>

    <div class="widget trending-topics">
        <h3 class="title">O QUE ESTÁ ROLANDO NOS FORUNS</h3>
        <div class="sidebar-content">
            <ul>
                <li>
                    <a href="" class="topic">[LOVECAST] Recadinhos de Amor!</a>
                    <span class="date">30 minutos atrás</span>
                </li>
            </ul>
        </div>
    </div>
