<div class="widget" data-ng-controller="SidebarAuthController">
    <h3 class="title">{% if user.is_authenticated %}{{ user.username }}{% else %}Minha Conta{% endif %}</h3>
    <div class="sidebar-content">
        {% if user.is_authenticated %}
        <ul class="sidebar-menu">
            {% if user.is_superuser %}
            <li>
                <a href="/admin" target="_blank">
                    <i class="fa fa-cog"></i>
                    <span>Administração</span>
                </a>
            </li>
            {% endif %}
            <li>
                <a href="/account">
                    <i class="fa fa-user"></i>
                    <span>Minha Conta</span>
                </a>
            </li>
            <li>
                <a href="/account/logout">
                    <i class="fa fa-arrow-left"></i>
                    <span>Sair</span>
                </a>
            </li>
        </ul>
        {% else %}
        <div class="alert danger ng-cloak" data-ng-show="errors.length > 0">
            <i class="fa fa-exclamation-circle"></i>
            <span class="title">Os seguintes erros ocorreram:</span>
            <ul>
                <li data-ng-repeat="error in errors">{$ error $}</li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Nome de Usuário</label>
                    <input type="text" maxlength="16" class="form-control" autofocus data-focus-on data-ng-model="form.username" data-on-enter="submit()" data-ng-disabled="loading">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Senha</label>
                    <input type="password" maxlength="32" class="form-control" data-focus-on data-ng-model="form.password" data-on-enter="submit()" data-ng-disabled="loading">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <a href="" class="btn btn-primary full-width" data-ng-click="submit()" data-ng-disabled="loading">
                    Entrar
                    <i class="fa fa-sign-in ng-cloak" data-ng-hide="loading"></i>
                    <i class="fa fa-refresh fa-spin fa-3x fa-fw ng-cloak" data-ng-show="loading"></i>
                </a>
            </div>
            <div class="col-6">
                <div class="text-right"><a href="/account/create">Criar uma nova Conta</a></div>
                <div class="text-right"><a href="/account/recover">Recuperar Conta</a></div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
