.recover-page {
    padding-top: 20px;
    padding-bottom: 100px;
    text-align: center;
}

.recover-option {
    margin: 60px 10px;
}
.recover-option a {
    background-color: rgba(56, 35, 22, 0.5);
    border: 1px solid rgb(85, 43, 18);
    border-radius: 3px;
    display: block;
    width: 170px;
    height: 170px;
    padding: 10px;
}
.recover-option a:hover {
    background-color: rgba(56, 35, 22, 0.9);
}
.recover-option a:active {
    .box-shadow(inset 1.5px 1.5px 3px rgba(0, 0, 0, 0.5));
}
.recover-option a span {
    font-size: 18px;
    display: block;
}
.recover-option a i {
    font-size: 70px;
    color: rgba(255, 255, 255, 0.8);
}
.recover-option a:hover i {
    color: #fff;
}
