.alert {
    padding: 10px;
    margin-bottom: 14px;
    .border-radius();
    .box-shadow(~"#000 0 0 5px");
}
.alert > ul {
    padding-left: 40px;
    font-size: 11px;
}
.alert > ul li {
    list-style: disc;
}
.alert > span.title {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    margin-left: 24px;
    display: block;
}
.alert > i.fa {
    float: left;
    font-size: 20px;
    color: #fff;
}
.alert.danger {
    background-color: #541f1f;
}
.alert.success {
    background-color: #2f4728;
}
