.post {
    text-align: left;
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #552b12;
}

.post-header:after {
    clear: both;
}

.post-header:after, .post-header:before {
    display: table;
    content: " ";
}

.post .post-header {
    margin: 0 0 20px;
}

.post .post-header .author {
    float: left;
}

.post .post-header img {
    float: left;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.post .post-header .post-title {
    float: left;
    padding-left: 10px;
    width: 90%;
}

.post .post-title h2 {
    font-size: 22px;
    margin-top: 8px;
    margin-bottom: 4px;
}

.post .post-meta li {
    display: inline;
    color: #855b47;
    margin-right: 8px;
}

.post .post-content {
    line-height: 1.4em;
    font-size: 1.1em;
}
