.header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 90px;
}

.header .server-name {
    padding: 20px;
    font-size: 26px;
    color: #fff;
}

.content {
    padding: 10px;
    background: #212121;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-width: 1px 0 1px 0;
}
.content.primary {
    background: #25150b;
    border-color: #552b12;
}
.content.secondary {
    background: #123e51;
    border-color: #2f6e86;
}

.footer {
    color: #433A2E;
    background-color: #000;
    text-align: center;
}
.footer .disclaimer {
    margin: 20px;
}
.footer .copyright {
    font-size: 12px;
    padding: 10px;
    text-align: left;
}
