.nav-top {
    height: 41px;
    position: relative;
    z-index: 20;
    background: rgba(15, 16, 11, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.07);
    border-width: 0 0 1px 0;
}

.nav-top > ul {
    box-shadow: 0 2px 5px #000;
}

.nav-top ul > li {
    display: block;
    float: left;
    position: relative;
    box-shadow: inset 1px 0 0 rgba(255,255,255,0.03);
}

.nav-top ul > li:last-child {
    box-shadow: inset 1px 0 0 rgba(255,255,255,0.03), inset -1px 0 0 rgba(255,255,255,0.03);
}

.nav-top ul > li:last-child > a:hover,
.nav-top ul > li:last-child > a {
    border-right: 0px!important;
}

.nav-top ul > li:first-child > a {
    border-left: 0px!important;
}

.nav-top ul > li > a {
    display: block;
    padding: 10px 16px;
    color: rgba(255, 255, 255, 0.8);
    .transition(~"background 0.2s, color 0.2s");
    font-size: 15px;
}

.nav-top ul > li:hover> a {
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
}
