.sidebar-menu a {
    line-height: 25px;
    display: block;
    padding-left: 4px;
    font-size: 14px;
}
.sidebar-menu a:hover {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #3f1806;
}
.sidebar-menu a i {
    margin-left: 6px;
    color: #8f4415;
    font-size: 18px;
    position: absolute;
}
.sidebar-menu a span {
    margin-left: 38px;
}
