.widget {
    margin-bottom: 24px;
    font-size: 12px;
}

.widget > h3.title {
    border-bottom: 2px solid #552b12;
    margin-bottom: 6px;
    padding-bottom: 4px;
    text-transform: uppercase;
    color: #FEF092;
    font-size: 14px;
    margin-top: 10px;
}

.widget.pvp-ranking > div.sidebar-content > table > tbody > tr > td div {
    margin: 5px 2px 5px 4px;
}

.widget.pvp-ranking > div.sidebar-content > table > tbody > tr > td:last-child {
    color: #149e04;
    font: bold 12px/100% "Arial Black", Arial, Verdana, sans-serif;
    text-align: right;
    padding-right: 10px;
}

.widget.trending-topics > div.sidebar-content > ul > li {
    border-bottom: 1px solid #271B15;
    color: #71401F;
    padding: 6px 2px;
}

.widget.trending-topics > div.sidebar-content > ul > li {
    border-bottom: 1px solid #271B15;
    color: #71401F;
    padding: 6px 2px;
}

.widget.trending-topics > div.sidebar-content > ul > li > a.topic {
    display: block;
    line-height: 115%;
    word-wrap: break-word;
}

.widget.trending-topics > div.sidebar-content > ul > li > span.date {
    font-size: 11px;
}
