<p>Olá {{ user.get_full_name }},<br /></p>

<p>Sua conta em {{ config.server.name }} foi bloqueada por várias tentativas de autenticação inválidos.<br /></p>
<p><b>Se foi você:</b><br />
Que bom ;)<br />
Basta acessar o link abaixo para desbloquear sua conta:<br />
{{ config.server.host }}/account/unlock/{{ user.username.lower }}/{{ user.userprofile.recovery_salt }}<br /></p>

<p><b>Se não foi você:</b><br />
Sua conta pode ter sido comprometida e você deve tomar algumas precauções para proteger sua conta. Para começar, desbloqueie sua conta usando o link acima e redefina sua senha.</p>

<p>Cordialmente,<br />
Equipe {{ config.server.name }}</p>
