<p>Olá {{ user.get_full_name }},<br /></p>

<p>Obrigado por se registar em {{ config.server.name }}. Sua conta foi criada e deve ser ativada antes que você possa usá-lo.<br /></p>

<p>Para ativar a conta clique no link a abaixo ou copie e cole no seu navegador:<br />
{{ config.server.host }}/account/activate/{{ user.username.lower }}/{{ user.userprofile.recovery_salt }}<br /></p>

<p>Cordialmente,<br />
Equipe {{ config.server.name }}</p>
