//
// Buttons
// --------------------------------------------------
// Base styles
// --------------------------------------------------
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: @btn-font-weight;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid @btn-default-border;
    white-space: nowrap;
    color: @btn-default-color;
    background-color: @btn-default-bg;

    .box-shadow(none);
    .user-select(none);
    .button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; @btn-border-radius-base);
    .transition(~"background-color 0.2s, box-shadow 0.2s, background-color 0.2s, border-color 0.2s, color 0.2s");

    &:hover,
    &:focus {
        color: @btn-default-color-state;
        background-color: @btn-default-bg-hover;
        border-color: @btn-default-border-hover;

    }
    &:active,
    &.active {
        outline: 0;
        color: @btn-default-color-state;
        background-color: @btn-default-bg;
        border-color: @btn-default-border-active;
        .box-shadow(inset 1.5px 1.5px 3px rgba(0, 0, 0, 0.5));
    }
    &.disabled,
    &[disabled] {
        background-color: rgba(0, 0, 0, 0.1);
        color: rgba(255, 255, 255, 0.3);
        border-color: rgba(255, 255, 255, 0.08);
        cursor: default;
    }
    a& {
        outline: 0;
        &.disabled {
            pointer-events: none;
        }
    }
}

.btn-primary {
  .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-bg-state);
}
