//
// Forms
// --------------------------------------------------
// Normalize non-controls
//
// Restyle and baseline non-control form elements.
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}

// Normalize form controls
//
// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9; // IE8-9
    line-height: normal;
}

input[type="file"] {
    display: block;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
    height: auto;
}

// Focus for file, radio, and checkbox
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    .tab-focus();
}

// Common form controls
//
// Shared size and type resets for form controls.
.form-control {
    display: block;
    width: 100%;
    height: @input-height-base;
    padding: @padding-base-vertical @padding-base-horizontal;
    font-size: @font-size-base;
    line-height: @line-height-base;
    color: @input-color;
    background-color: @input-bg;
    background-image: none;
    border: 1px solid @input-border;
    border-radius: @input-border-radius;
    .box-sizing(border-box);
    .transition(~"background-position 0.2s, background-color 0.2s, border-color 0.2s, box-shadow 0.2s");
    &:hover {
        outline: 0;
        border-color: @input-border-color-hover;
        background-color: @input-background-hover;
        color: @input-color-hover;
    }
    &:focus {
        outline: 0;
        border-color: @input-border-color-focus;
        background-color: @input-background-focus;
        color: @input-color-focus;
    }
    .placeholder();
    // Unstyle the caret on `<select>`s in IE10+.
    &::-ms-expand {
        border: 0;
        background-color: transparent;
    }
    // Disabled and read-only inputs
    &[disabled],
    &[readonly] {
        background-color: @input-bg-disabled;
        border-color: rgba(255, 255, 255, 0.08);
        opacity: 1;
    }
    // Reset height for `textarea`s
    textarea& {
        height: auto;
    }
}

// Form groups
.form-group {
    margin-bottom: ceil(@grid-gutter-width / 2);
    .clearfix();
}

// Checkboxes and radios
.radio,
.checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    label {
        min-height: @line-height-computed;
        padding-left: 20px;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
    }
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
    position: absolute;
    margin-left: -20px;
    margin-top: 4px \9;
}

.radio+.radio,
.checkbox+.checkbox {
    margin-top: -5px;
}

// Help text
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: lighten(@text-color, 25%);
}

// Horizontal forms
.form-horizontal {
    .radio,
    .checkbox {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: (@padding-base-vertical + 1);
    }
    .radio,
    .checkbox {
        min-height: (@line-height-computed + (@padding-base-vertical + 1));
    }
    .form-group {
        margin-right: ceil(@grid-gutter-width / -2);
        margin-left: ceil(@grid-gutter-width / -2);
    }
}
