//
// Grid system
// --------------------------------------------------
// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.
.container {
    width: @grid-width-container;
    margin: 0px auto;
}

.container-fluid {
    padding-right: ceil(@grid-gutter-width / 2);
    padding-left: ceil(@grid-gutter-width / 2);
    margin-right: auto;
    margin-left: auto;
}

.container-fluid:after,
.container:after {
    display: table;
    content: " ";
    clear: both;
}

// Row
//
// Rows contain and clear the floats of your columns.
.row {
    margin-right: ceil(@grid-gutter-width / -2);
    margin-left: ceil(@grid-gutter-width / -2);
}

.row:before,
.row:after {
    display: table;
    content: " ";
    clear: both;
}

// Columns
//
// Common styles for small and large grid columns
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: ceil(@grid-gutter-width / 2);
    padding-left: ceil(@grid-gutter-width / 2);
}

.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.66666667%;
}

.col-10 {
    width: 83.33333333%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.66666667%;
}

.col-7 {
    width: 58.33333333%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.66666667%;
}

.col-4 {
    width: 33.33333333%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.66666667%;
}

.col-1 {
    width: 8.33333333%;
}

.col-offset-12 {
    margin-left: 100%;
}

.col-offset-11 {
    margin-left: 91.66666667%;
}

.col-offset-10 {
    margin-left: 83.33333333%;
}

.col-offset-9 {
    margin-left: 75%;
}

.col-offset-8 {
    margin-left: 66.66666667%;
}

.col-offset-7 {
    margin-left: 58.33333333%;
}

.col-offset-6 {
    margin-left: 50%;
}

.col-offset-5 {
    margin-left: 41.66666667%;
}

.col-offset-4 {
    margin-left: 33.33333333%;
}

.col-offset-3 {
    margin-left: 25%;
}

.col-offset-2 {
    margin-left: 16.66666667%;
}

.col-offset-1 {
    margin-left: 8.33333333%;
}

.col-offset-0 {
    margin-left: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
