//
// Scaffolding
// --------------------------------------------------
// Reset the box-sizing
* {
    .box-sizing(border-box);
}

*:before,
*:after {
    .box-sizing(border-box);
}

// Body reset
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: @font-family-base;
    font-size: @font-size-base;
    line-height: @line-height-base;
    color: @text-color;
    background-color: @body-bg;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
}

// Links
a {
    color: @link-color;
    text-decoration: none;
    &:hover,
    &:focus {
        color: @link-hover-color;
        text-decoration: @link-hover-decoration;
    }
    &:focus {
        .tab-focus();
    }
}

// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.
figure {
    margin: 0;
}

// Images
img {
    vertical-align: middle;
}

// Perfect circle
.img-circle {
    border-radius: 50%; // set radius in percents
}

[role="button"] {
    cursor: pointer;
}

abbr {
    cursor: help;
}
