table {
    border-collapse: collapse;
    border-spacing: 0;
}

table.table {
    width: 100%;
    table-layout: auto;
    border-bottom: 2px solid #6c200e;
}

table.table > tbody > tr:nth-of-type(even)  {
    background: #2b1507;
    border-top: 1px solid #31190a;
}

table.table > tbody > tr:nth-of-type(odd) {
    background: #231207;
    border-top: 1px solid #30190b;
}

table.table > tbody > tr:hover > td {
    background: #180c04;
    color: #fff;
}
