//
// Typography
// --------------------------------------------------
// Headings
// -------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: @headings-font-family;
    font-weight: @headings-font-weight;
    line-height: @headings-line-height;
    color: @headings-color;
    small {
        font-weight: normal;
        line-height: 1;
        color: @headings-small-color;
    }
}

h1,
h2,
h3 {
    margin-top: @line-height-computed;
    margin-bottom: (@line-height-computed / 2);
    small {
        font-size: 65%;
    }
}

h4,
h5,
h6 {
    margin-top: (@line-height-computed / 2);
    margin-bottom: (@line-height-computed / 2);
    small {
        font-size: 75%;
    }
}

h1 {
    font-size: @font-size-h1;
}

h2 {
    font-size: @font-size-h2;
}

h3 {
    font-size: @font-size-h3;
}

h4 {
    font-size: @font-size-h4;
}

h5 {
    font-size: @font-size-h5;
}

h6 {
    font-size: @font-size-h6;
}

// Body text
// -------------------------
p {
    margin: 0 0 (@line-height-computed / 2);
}

.lead {
    margin-bottom: @line-height-computed;
    font-size: (@font-size-base * 1.5);
    font-weight: 300;
    line-height: 1.4;
}

// Emphasis & misc
// -------------------------
// Ex: (12px small font / 14px base font) * 100% = about 85%
small,
.small {
    font-size: floor((100% * @font-size-small / @font-size-base));
}

.full-width {
    width: 100%;
}

// Alignment
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}

// Transformation
.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-primary {
    color: @primary-color;
}

.text-success {
    color: @success-color;
}

.text-info {
    color: @info-color;
}

.text-danger {
    color: @danger-color;
}

// Page header
// -------------------------
.page-header {
    padding-bottom: ((@line-height-computed / 2) - 1);
    margin: (@line-height-computed * 2) 0 @line-height-computed;
    border-bottom: 1px solid @page-header-border-color;
}

// Lists
// -------------------------
ul,
li,
ol {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}
