//
// Variables
// --------------------------------------------------

//== Colors
//

@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee

@primary-color:         #ffb100;
@success-color:         #50a951;
@info-color:            #00aeff;
@danger-color:          #a94442;


//== Scaffolding
//
//## Settings for some of the most global styles.

@body-bg:               #3a312d;
@text-color:            rgba(255, 255, 255, 0.7);
@link-color:            @primary-color;
@link-hover-color:      #fff;
@link-hover-decoration: none;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          14px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 2.15)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px

//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.428571429; // 20/14
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~20px

//** By default, this inherits from the `<body>`.
@headings-font-family:    inherit;
@headings-font-weight:    500;
@headings-line-height:    1.1;
@headings-color:          inherit;


//== Type
//

//** Abbreviations and acronyms border color
@abbr-border-color:           @gray-light;
//** Headings small color
@headings-small-color:        @gray-light;
//** Page header border color
@page-header-border-color:    @gray-lighter;


//== Grid system
//
//## Define your custom responsive grid.

//** Width of container.
@grid-width-container:   1000px;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         20px;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

@padding-base-vertical:     6px;
@padding-base-horizontal:   8px;
@border-radius-base:        3px;


//== Forms
//
//##

//** `<input>` background color
@input-bg:                       rgba(0, 0, 0, 0.3);
//** `<input disabled>` background color
@input-bg-disabled:              rgba(0, 0, 0, 0.1);

//** Text color for `<input>`s
@input-color:                    rgba(255, 255, 255, 0.7);
//** `<input>` border
@input-border:                   rgba(255, 255, 255, 0.3);
@input-border-radius:            @border-radius-base;

//** :hover event for `<input>`s
@input-color-hover:              rgba(255, 255, 255, 0.7);
@input-border-color-hover:       rgba(255, 255, 255, 0.5);
@input-background-hover:         rgba(0, 0, 0, 0.5);

//** :focus event for `<input>`s
@input-color-focus:              @input-color;
@input-border-color-focus:       @info-color;
@input-background-focus:         rgba(0, 0, 0, 0.5);

@input-color-placeholder:        #999;
@input-height-base:              (@line-height-computed + (@padding-base-vertical * 2) + 2);

@form-group-margin-bottom:       10px;


//== Buttons
//

@btn-font-weight:                normal;
@btn-border-radius-base:         @border-radius-base;

@btn-default-color:              @primary-color;
@btn-default-color-state:        rgba(255, 255, 255, 0.8);
@btn-default-bg:                 rgba(0, 0, 0, 0.15);
@btn-default-bg-hover:           rgba(0, 0, 0, 0.25);
@btn-default-border:             rgba(255, 255, 255, 0.15);
@btn-default-border-hover:       rgba(255, 255, 255, 0.3);
@btn-default-border-active:      rgba(255, 255, 255, 0.07);

@btn-primary-color:              @primary-color;
@btn-primary-color-state:        #fff;
@btn-primary-bg:                 #7f2906;
@btn-primary-bg-state:           #6e1e08;
@btn-primary-border:             rgba(255, 255, 255, 0.15);
@btn-primary-border-hover:       rgba(255, 255, 255, 0.34);
@btn-primary-border-active:      rgba(255, 255, 255, 0.1);
